body {
  margin: 0;
}

.wrapper {
  height: 600px;
  border-color: #ccc;
  border-style: solid;
  border-width: 2px 0;
}

button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  width: 120px;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgba(0, 188, 212, 1);
  transform: translate3d(0, 0, 0);
}

button:active {
  background-color: rgba(0, 188, 212, 0.75);
  transform: scale(.95);
  transition: scale 500ms linear;
}
